.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-bottom: 3px solid black;
}

.data {
    width: 30%;
}

h3 {
    color: rgba(0, 0, 0, 0.8);
}

p {
    color: rgba(0, 0, 0, 0.6);
}